<html>

<head>

</head>

<body>
    <div class="header">
        <h1> Welcome to POC 1.2</h1>
        <h3>Application with express</h3>
    </div>

    Click to navigate
    <div class="navBar" >
        <div> <a href="home"> Home </a></div>
        <div> <a href="details"> Details</a> </div>
        <div> <a href="admin"> Admin </a> </div>
        <!-- <div> <a href="order"> Order </a> </div> -->

    </div>
</body>
<style>
        a {
            padding: 50%;
            margin: 50%;
            color:white;
        }

        .navBar {
            display: flex;
            justify-content: space-evenly;
            background-color: grey;
            padding: 10px;
        }

        .header{
            text-align: center;
        }
    </style>
</html>